* {
    margin: 0;
    padding: 0;
  }
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .tasks {
    margin: 5px 0;
  }
  
  .eclipse {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }
  
  


  